<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Foodscore</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="d-flex">
      <div class="d-flex column justify-content-center align-items-center">
        <ion-toggle [(ngModel)]="showOpen"></ion-toggle>
        <ion-label>Open</ion-label>
      </div>
      <div class="d-flex column justify-content-center align-items-center">
        <ion-toggle [(ngModel)]="orderByName"></ion-toggle>
        <ion-label>Name</ion-label>
      </div>
      <ion-searchbar [(ngModel)]="search"></ion-searchbar>
    </div>
    <ion-virtual-scroll [items]="restaurants | restaurantFilter: orderByName: showOpen: search"
      approxItemHeight="375px">
      <div *virtualItem="let item; let itemBounds = bounds;">
        <fs-restaurant-card [restaurant]="item" (delete)="deleteRestaurant($event)"></fs-restaurant-card>
      </div>
    </ion-virtual-scroll>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" [routerDirection]="'forward'" [routerLink]="['/restaurants/new']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>