<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info">
      <ion-label>Details</ion-label>
      <ion-icon name="list-box"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="location">
      <ion-label>Location</ion-label>
      <ion-icon name="compass"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>